[files]
datadir: data/
idsfile: data/idsinratchet_march7.txt
h5file: data/store.h5
articlesfile: data/articles.shelf

[scielo_identifier]
url: http://200.136.72.162
port: 7000
endpoint: /api/v1/article/identifiers

[scielo_article]
url: http://200.136.72.162
port: 7000
endpoint: /api/v1/article

[ratchet]
url: http://200.136.72.52
port: 8861
endpoint: /api/v1/general
earliest_load: 2013-09-01
failure_file: data/ratchet_failed.txt



